{% extends "base.html" %}
{% block content %}

<h2>{% if editar %}Editar Cliente{% else %}Novo Cliente{% endif %}</h2>

<form method="post">
    {% csrf_token %}

    <h4>Dados do Cliente</h4>
    {{ form_cliente.as_p }}

    <h4>Endereço</h4>
    {{ form_endereco.as_p }}

    <div class="d-flex gap-2 mt-3">
        <button class="btn btn-success">
            {% if editar %}Salvar alterações{% else %}Salvar{% endif %}
        </button>

        <a href="/pessoas/clientes/" class="btn btn-secondary">Cancelar</a>
    </div>
</form>

{% endblock %}
